* {
    margin: 0;
    box-sizing: border-box;
}

html, body {
height: 100%;
min-height: 100%;
font-family: 'Work Sans', sans-serif;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

a {
	text-decoration: none;
}

.wrapper{
    height: 100vh;
    width: 100vw;
}

.header{
    /* height: 104px; */
    width: 100vw;
}

.scroll-bg{
    background-color: #232323;
}

.progress-bar{
    width: 96px;
    height: 8px;
    background-color: #FFC000;
}

.header-main{
    height: 80px;
    width: 100vw;
    background-color: rgba(255,255,255,0.96);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.08);
    display: flex;
}

.mtn-logo{
    height: 96px;
    width: 96px;
    border-style: solid;
    background-color: #FFC300;
    border-color: #FFFFFF;
    border-width: 8px;
}

.nav{
    display: flex;
    margin-top: 32px;
}

.nav a{
    display: block;
    margin-left: 40px;
    size: 16px;
    line-height: 23px;
    letter-spacing: -0.2px;
    color: #232323;
    text-align: center;
}

.search-and-customer{
    display: flex;
    margin-left: 369px;
    margin-top: 30px;
}

.search{
    height: 18px;
    width: 18px;
}

.personal-business-toggle{
    display: flex;
    margin-left: 40px;
    box-sizing: border-box;
    height: 22px;
    width: 131px;
    border: 1px solid #F5F5F5;
    border-radius: 10px;
    background-color: #FAFAFA;
    background: linear-gradient(90deg, #e4e4e4 0%, rgba(226, 226, 226, 0.4) 100%);
    box-shadow: inset 0 2px 8px 0 rgba(0,0,0,0.16);
}

.personal{
    height: 18px;
    width: 64px;
    color: #414141;
    font-size: 8px;
    font-weight: bold;
    letter-spacing: 0.2px;
    line-height: 20px;
    text-align: center;
    border-radius: 9px;
    background-color: #FFFFFF;
    background: linear-gradient(180deg, rgba(226, 226, 226, 0.5) 0%, #c4c4c4 100%);
    box-shadow: 0 2px 8px 0 rgba(0,0,0,0.56);
}

.business{
    /* height: 16px;
    width: 48px; */
    margin-left: 10px;
    color: #AFAFAF;
    font-size: 8px;
    letter-spacing: 0.2px;
    line-height: 20px;
    text-align: center;
}

.container{
    height: 100vh;
    margin: auto;
}

.grid-container{
    background-color: #F5F5F5;
    opacity: 0.25;
}

.grid-column{
    height: 100vh;
    background-color: #053241;
    opacity: 0.75;
    
}

.img-placeholder{
    margin-top: 56px;
    margin-left: 60px;
    box-sizing: border-box;
    height: 80px;
    width: 80px;
    border: 1px solid #979797;
}
  
.wrap {
    position: relative;
    margin-top: 39px;
    margin-left: -17px;
    width: 111px;
}

.center-line-left{
    height: 1px;
    background-color: #979797;
    margin-top: 79px;
    margin-left: -32px;
    width: 224px;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.center-line-right{
    height: 1px;
    background-color: #979797;
    margin-top: -2px;
    margin-left: -32px;
    width: 224px;
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.line {
    height: 1px;
    background-color: #979797;
}
  
.left-rotate {
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
  
.right-rotate {
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.arrows{
    display: flex;
}

.arrow-left{
    position: relative;
    padding: 5px;
    margin: 10px auto;
    background-color: #232323;
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.arrow-left::after{
    content: "";
    position: absolute;
    left: 17px;
    z-index: 11;
    display: block;
    width: 8px;
    height: 8px;
    border-top: 2px solid #fff;
    border-left: 2px solid #fff;
    top: 15px;
    transform: rotate(-45deg);
}

.arrow-right{
    position: relative;
    padding: 5px;
    margin: 10px auto;
    background-color: #232323;
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.arrow-right::after{
    content: "";
    position: absolute;
    left: 13px;
    z-index: 11;
    display: block;
    width: 8px;
    height: 8px;
    border-top: 2px solid #fff;
    border-left: 2px solid #fff;
    top: 15px;
    transform: rotate(135deg);
}

.get-a-device{
    margin-top: 100px;
    margin-left: 52px;
    height: 40px;
    width: 320px;
    color: #232323;
    font-size: 40px;
    font-weight: 600;
    letter-spacing: -0.2px;
    line-height: 58px;
    text-align: center;
}

.start-button{
    margin-top: 72px;
    margin-left: 151px;
    height: 24px;
    width: 121px;
    display: flex;
}

.start-text{
    height: 24px;
    width: 120px;
    color: #232323;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.2px;
    line-height: 32px;
    text-transform: uppercase;
}

.small-arrow-right{
    margin-top: 11px;
    width: 8px;
    height: 8px;
    border-top: 2px solid #232323;
    border-left: 2px solid #232323;
    transform: rotate(135deg);
}

.cards{
    margin: -100px auto;
    width: 1416px;
    height: 564px;
    display: flex;
}

.small-card{
    margin-left: 0;
    margin-top: 140px;
    margin-right: 24px;
    box-sizing: border-box;
    height: 284px;
    width: 200px;
    border: 2px solid rgba(150,150,150,0.08);
    border-radius: 8px;
    background: linear-gradient(180deg, #FFFFFF 0%, #EBEBEB 100%);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.12);
}

.center-card-bg{
    margin: 0 24px 0 0;
    height: 564px;
    width: 424px;
    border-radius: 16px;
    background-color: #FFC000;
    box-shadow: 0 16px 40px 0 rgba(0,0,0,0.32)
}

.center-card{
    box-sizing: border-box;
    height: 556px;
    width: 424px;
    border: 2px solid rgba(150,150,150,0.08);
    border-radius: 16px 16px 12px 12px;
    background: linear-gradient(180deg, #FFFFFF 0%, #EBEBEB 100%);
}

.center-card:hover{
    background: linear-gradient(180deg, #373737 0%, #191919 100%);
}

.center-card:hover .get-a-device{
    color: #FFFFFF;
}

.center-card:hover .start-text{
    color: #FFFFFF;
}

.center-card:hover .small-arrow-right{
    border-top: 2px solid #ffffff;
    border-left: 2px solid #ffffff;
}

.center-placeholder{
    margin-top: 96px;
    margin-left: 132px;
    box-sizing: border-box;
    height: 160px;
    width: 160px;
    border: 1px solid #979797;
}

.small-card-right{
    margin-left: 0;
    margin-top: 140px;
    box-sizing: border-box;
    height: 284px;
    width: 200px;
    border: 2px solid rgba(150,150,150,0.08);
    border-radius: 8px;
    background: linear-gradient(180deg, #FFFFFF 0%, #EBEBEB 100%);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.12);
}

.what-are-you-here-to-do {
    margin-top: 184px;
    margin-left: 224px;
    color: #232323;
    font-size: 32px;
    font-weight: 300;
    letter-spacing: -0.2px;
    line-height: 40px;
    position: relative;
}

.small-card-text-container {
    margin-top: 44px;
    margin-left: 20px;
    height: 72px;
    width: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.small-card-text{
    color: #232323;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: -0.2px;
    line-height: 24px;
    text-align: center;
}

@media only screen and (min-width: 1920px) {
    .container{
        width: 1416px;
    }

    .mtn-logo{
        margin-left: 372px;
    }

    .search-and-customer{
        margin-left: 468px;
    }

    .personal-business-toggle{
        display: none;
    }

    .what-are-you-here-to-do{
        margin-left: 240px;
    }

    .small-card, .small-card-right{
        width: 216px;
    }

    .center-card, .center-card-bg{
        width: 456px;
    }

    .img-placeholder{
        margin-left: 68px;
    }

    .center-placeholder{
        margin-left: 148px;
    }

    .get-a-device{
        margin-left: 68px;
    }

    .start-button{
        margin-left: 167px;
    }

    .small-card-text-container{
        margin-left: 28px;
    }

    .grid{
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-gap: 24px;
    }
}

@media only screen and (min-width: 1440px) and (max-width: 1919px) {
    .container{
        width: 1320px;
    }

    .mtn-logo{
        margin-left: 168px;
    }

    .cards{
        width: 1320px;
    }

    .grid{
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-gap: 24px;
    }

}

@media only screen and (min-width: 1080px) and (max-width: 1439px) {
    .container{
        width: 752px;
    }

    .mtn-logo{
        margin-left: 152px;
    }

    .nav{
        display: none;
    }

    .search-and-customer{
        margin-left: 598px;
    }

    .personal-business-toggle{
        display: none;
    }

    .what-are-you-here-to-do{
        margin-left: 0px;
        font-size: 24px;
    }

    .cards{
        margin-left: -250px;
    }

    .arrow-left{
        margin-left: 50px;
    }

    .arrow-right{
        margin-left: 600px;
    }

    .grid{
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-gap: 24px;
    }
}
  